/* home-header */
.home-header {
  background: url("./imagem/grande1.jpeg") no-repeat center center;
  width: 1440px;
  height: 680px;
  margin: 0 auto;
}

.home-nav {
  display: flex;
  justify-content: space-between;
}

.home-nav img {
  margin-left: 135px;
  margin-top: 21px;
  width: 107px;
  height: 28px;
}

.home-setor {
  display: flex;
  margin-top: 30px;
  align-items: start;
}

.home-setor a {
  color: var(--titulo-banner);
  padding: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

img.vector {
  width: 31.36px;
  height: 25.87px;
  margin: -2px 0px 0px 25px;
}

img.fav {
  width: 31.36px;
  height: 25.87px;
  margin: -2px 142px 0px 50px;
  border-radius: 50px;
}

.home-header h1 {
  width: 1013px;
  height: 84px;
  margin-top: 184px;
  margin-bottom: 50px;
  margin-left: 223px;
  color: var(--titulo-banner);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 72px;
  line-height: 84.38px;
}

a.botao {
  width: 270px;
  height: 68px;
  margin-top: 361px;
  margin-left: 585px;
  color: var(--titulo-banner);
  padding: 20px 80px;
  background: var(--btn-base);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
}
@media (max-width: 1220px) {
  .home-header {
    width: 1100px;
    height: auto;
  }
  .home-header h1 {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: auto;
    margin: 0 auto;
  }
  a.botao {
    display: none;
  }
}

@media (max-width: 800px) {
  .home-header {
    width: 800px;
    height: auto;
  }
  .home-nav {
    display: block;
  }

  .home-header h1 {
    display: none;
  }
  a.botao {
    display: none;
  }
}

@media (max-width: 500px) {
  .home-header {
    width: 500px;
  }
  .home-nav img {
    width: 207px;
    height: 58px;
  }
  .home-setor {
    display: block;
    font-size: 150px;
    font-weight: 800;
  }
  .home-setor img {
    display: none;
  }
  h1 {
    display: none;
  }
  a.botao {
    display: none;
  }
}
/* home-burguer */

.home-burguer {
  background: var(--titulo-banner);
  max-width: 1440px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.home-burguers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.home-lanch {
  margin-left: 40px;
  width: 370px;
  height: 446px;
  border: 2px solid rgba(150, 150, 150, 0.4);
  display: inline-block;
  margin-bottom: 45px;
}

.home-lanch img {
  width: 370px;
  height: 214px;
}

.home-lanch h2 {
  width: 68px;
  height: 19px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  margin-left: 8px;
  margin-top: 16px;
}

.home-lanch h1 {
  color: var(--text-burguer);
  width: 202px;
  height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  margin-left: 8px;
  margin-top: 20px;
}

.home-lanch h3 {
  color: var(--text-burguer);
  width: 355px;
  height: 64px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  margin-left: 8px;
  margin-top: -20px;
}

.home-lanch span {
  color: var(--btn-base);
  width: 355px;
  height: 64px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.home-btn {
  color: var(--titulo-banner);
  padding: 10px 40px 10px 40px;
  background: var(--btn-base);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  margin-right: 8px;
}
.home-preco {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-preco p {
  width: 65px;
  height: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 18.06px;
  margin-left: 8px;
}

.home-preco span {
  width: 49px;
  height: 14px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
}
@media (max-width: 1220px) {
  .home-burguers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .home-burguers {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 150px;
  }
}

@media (max-width: 500px) {
  .home-burguers {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px auto 0px auto;
  }
  .home-lanch h3 {
    color: var(--text-burguer);
    width: auto;
    /* margin-left: 8px; */
    margin-top: 70px;
  }
}

/* home-promocao */
.home-promo {
  background: url("./imagem/grande2.jpeg") no-repeat center center;
  width: 1440px;
  height: 510px;
  margin: 0 auto;
}

.home-promo h1 {
  color: var(--titulo-banner);
  width: 1012px;
  height: 113px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 96px;
  line-height: 112.5px;
  margin-top: 90px;
  margin-left: 128px;
}

.home-promo h2 {
  color: var(--titulo-banner);
  width: 247px;
  height: 84px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 72px;
  line-height: 84.38px;
  margin-top: 200px;
  margin-left: 979px;
}

@media (max-width: 1100px) {
  .home-promo {
    width: 1000px;
  }
  .home-promo h1 {
    width: 812px;
    margin-left: 168px;
  }
  .home-promo h2 {
    margin: 180px auto;
    width: 247px;
  }
}

@media (max-width: 700px) {
  .home-promo {
    width: 800px;
  }
  .home-promo h1 {
    width: 502px;
    margin-left: 68px;
  }
  .home-promo h2 {
    display: none;
  }
}
/* home-icons*/
.home-icons {
  display: flex;
  max-width: 1440px;
  background: var(--titulo-banner);
  margin: 0 auto;
  gap: 100px;
  padding-bottom: 80px;
}
.home-icons img {
  margin-left: 10px;
}

.icon-mao img {
  margin-top: 35px;
}

.icon-estrela img {
  margin-top: 40px;
}

.icon-estrela p {
  color: var(--icon-footer);
  margin-top: 100px;
}
.icon-chapeu img {
  margin-top: 40px;
}

.icon-chapeu p {
  color: var(--icon-footer);
  margin-top: 85px;
}
@media (max-width: 1220px) {
  .home-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 820px) {
  .home-icons {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 50px;
  }
}

/* home-footer */
.footer {
  width: 1440px;
  height: 351px;
  background: var(--bg-footer);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-rede h1 {
  display: block;
  width: 296px;
  height: 56px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 48px;
  line-height: 56.25px;
  margin-top: 117px;
  margin-left: 105px;
  color: var(--titulo-banner);
}

.home-rede img {
  padding: 20px 0 0 95px;
  margin-top: 0px;
  gap: 20px;
}
.home-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.home-news label {
  grid-column: 1/-1;
  margin-top: 90px;
  width: 245px;
  height: 56px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 48px;
  line-height: 56.25px;
  color: var(--titulo-banner);
}

.home-news input {
  font-size: 36px;
  margin-bottom: 80px;
}
.home-news a {
  width: 105px;
  height: 28px;
  margin-left: 10px;
  color: var(--titulo-banner);
  padding: 10px;
  padding-right: 150px;
  padding-bottom: 40px;
  background: var(--btn-base);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28.13px;
  margin-bottom: 80px;
}

@media (max-width: 1220px) {
  .footer {
    width: auto;
  }
  .home-news {
    display: none;
  }
}
