.bebidas-setor {
  display: flex;
  justify-content: center;
  width: 1440px;
  flex-wrap: wrap;
}

.bebidas-header {
  background: var(--bg-footer);
  width: 1440px;
  height: 70px;
  margin: 0 auto;
  border: 1px solid var(--back-bebidas);
}

#bebidas .bebidas-header ul li .btn-ligado {
  /* a cor esta do global */
  border-radius: 6px;
  padding: 8px;
}

@media (max-width: 1220px) {
  .home-header {
    width: auto;
  }
  .home-setor {
    margin-right: 300px;
  }
}

@media (max-width: 800px) {
  .home-header {
    width: auto;
  }
  .bebidas-header .home-nav img {
    width: 300px;
  }
  .home-setor a {
    display: none;
  }
}

@media (max-width: 500px) {
  .bebidas-header .home-nav {
    margin-bottom: 40px;
  }
  .bebidas-header .home-nav img {
    width: 200px;
  }
  .home-setor a {
    display: none;
  }
  header .bebidas-header .home-setor {
    margin-bottom: 60px;
  }
}

/* bebidas-main */
.bebidas-sabor {
  margin: 0 auto;
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
}

.bebidas-sabor h1 {
  grid-column: 1/-1;
  color: var(--btn-base);
  width: 230px;
  height: 75px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 64px;
  margin-left: 135px;
}

.bebidas-base {
  width: 370px;
  height: 446px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-left: 45px;
  margin-bottom: 40px;
}
.bebidas-base img {
  width: 100%;
  object-fit: cover;
  height: 215px;
}
.bebidas-item {
  width: 370px;
  height: 446px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.bebidas-marca {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin-left: 8px;
  margin-top: 10px;
}
.bebidas-classe {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  margin-left: -65px;
  margin-top: 10px;
}
.bebidas-tipo {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  grid-column: 1/-1;
  margin-left: 8px;
  margin-top: -80px;
}
.bebidas-arg {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  max-width: 350px;
  margin-left: 8px;
  margin-top: -140px;
  grid-column: 1/-1;
}
.bebidas-preco {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  color: var(--btn-base);
  margin-top: -150px;
  margin-left: 8px;
}
.btn-ligad {
  display: block;
  color: var(--titulo-banner);
  background: var(--btn-base);
  padding: 10px 30px;
  margin-top: -40px;
  border: 1px solid red;
  margin-left: 230px;
  border-radius: 4px;
}

@media (max-width: 1220px) {
  .bebidas-sabor {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
  }
}

@media (max-width: 800px) {
  .bebidas-sabor {
    grid-template-columns: 1fr;
    margin-left: 50px;
  }
}
